

main{
  width: 100%;  
}




.admin-content{
  width: 83%;
  background: white;
  height: 115vh;  
  position: relative;
  float: left;
  padding: 1.5rem;
  margin-bottom: 4rem;
}

.btn-primary{
  width: 100%;
  padding: 1rem 0.5rem;
  background: #c3c3c3;
  font-weight: bold;
  color: black;
  outline: none;
  border: none;
  margin-top: 1rem;
}

.btn-primary:hover{
  cursor: pointer;
}

.space-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
