.search-input{
  width: 250px;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input input{
  padding: 0.5rem 0.8rem;
  margin-left: 1rem;
}

.search-input i{
  color: black;
  background: white;
  width: 20px;
}
